/*
    Não existe nenhum motivo pra importar fontes no CSS
    O navegador vai ter que:
    - Baixar o HTML
    - Ler o HTML
    - Baixar o CSS
    - Ler o CSS
    - Baixar a fonte
    - Ler a fonte
    - Re-renderizar todo HTML
    Sempre importe via link no HTML (posso mostrar como faz)
*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #22D4FD;
    --cor-hover: #161616;

    --fonte-principal: 'krona one', sans-serif;
    --fonte-secundaria: 'montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    
}

body {
    /* Essa regra pode subir pro all selector "*" */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    /* padding com % gera valores imprevisíveis e
    geralmente não é necessário de verdade */
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

/* 
    Você declarou `text-decoration: none` duas vezes
    Você pode fazer isso no element, afetando todos os links

    a {
        text-decoration: none;
    }
 */

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    border-bottom: 2px solid #1b1b1b;
    padding: 11px 12px;
}

.cabecalho__menu__link:hover {
    border-bottom: 2px solid var(--cor-terciaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Os gaps e paddings estão com muitos números quebrados,
    se não souber o valor, chute que é 4 ou algum múltiplo
    de 8 */
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    /* 
        O
        display: grid;

        Substituí o display: flex; e o flex-direction.
        grid -> coluna por padrão
        flex -> linha por padrão
    */
    display: flex;
    flex-direction: column;
    gap: 40px
}

.apresentacao__conteudo__titulo {
    /* 
        Você declarou font-size + font-family 6 vezes nesse
        documento. Defina quais são seus tipos e crie classes
        pra eles, ex:

        .heading {}
        .subheading {}
        .title {}
        .subtitle {}
        .body {}
        .small {}
    */
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}   

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
    width: 50%;
    padding: 21.5px 0;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}